//
// Divider
//

.divider {
    position: relative;
    border: 0;
    width: 100%
}

.divider-md {
    width: 60%;
}

.divider-sm {
    width: 40%;
}

.divider-horizontal {
	width: 100%;
	border-top: 1px solid $divider-border-color;
}
