.bg-img {
	border-radius: 0.375rem;
	height: 0;
	padding-top: 10rem;
	position: relative;
	overflow: hidden;
	img {
		position: absolute;
		-o-object-fit: cover;
		object-fit: cover;
		top: 0;
		width: 100%;
		height: 100%;
		left: 0;
	}
}

.bg-img-lg {
	border-radius: 0.375rem;
	height: 0;
	padding-top: 18rem;
	position: relative;
	overflow: hidden;
	img {
		position: absolute;
		-o-object-fit: cover;
		object-fit: cover;
		top: 0;
		width: 100%;
		height: 100%;
		left: 0;
	}
}

.img-placeholder {
	max-width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}