.header-account-page {
	max-height: 20rem;
	min-height: 17rem;
}

.mn-5 {
	margin-top: -5.5rem;
}

.wishlist {
	&__item {
		min-height: 22rem;
	}
}

.wish {
	&__item {
		min-height: 26rem;
	}
}

.modal-close {
	font-size: 1.25rem;
	line-height: 0.5;
	z-index: 105;
	height: 3rem;
	width: 3rem;
	position: absolute;
	top: -15px;
	right: -15px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	& > span:not(.sr-only) {
		color: rgba(31, 45, 61, 0.5);
	}
}

.flatpickr-innerContainer {
	border: 1px solid #E0E6ED;
	border-top: none;
	border-radius: 0 0 0.25rem 0.25rem;
}
